$borderColor = #202020;
$textColor = #fafafa;
$accentColor = #3eaf7c
html,body{
    background-color: #202020;
}
.navbar{
    background-color: #202020;
    box-shadow: 0 0 10px #000;
}
.navbar .links{
    background-color: #202020;
    color: #fff;
    right: unset;
    left: 10.25rem;
}
.sidebar-group-items > li > .sidebar-link{
    font-weight: bold;
    font-size:1.1em;
}
.sidebar{
    background-color: #202020;
    border-right: 2px solid #151515;
}